@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Roboto', sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  padding: 2em;
  margin-bottom: 20px;
}

.read-the-docs {
  color: #888;
}

body { background-color: #f8f9fa; }
.navbar-dark { background-color: #28668f; }
.table th, .table td { vertical-align: middle; }


/* Cartões do dashboard */
.card-body {
    padding: 0px!important;
}

.dashboard-card {
  border-radius: 1.5rem;
  transition: transform 0.15s, box-shadow 0.15s;
  background: #fff;
}
.dashboard-card:hover {
  transform: translateY(-4px) scale(1.03);
}

/* Cartões de ação rápida */
.quick-action-card {
  border-radius: 1.2rem;
  background: #f8fafd;
}
.quick-action-card:hover {
  animation: .4s;
  transform: translateY(-2px) scale(1.02);
  background: #f0f4ff!important;
}

/* Botão de pesquisa */
#search-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: -30px;
}

#search-button i {
    margin-right: 20px;
}

main.container {
  padding-top: 70px;
}

.painel {
  background: #fefefe!important;
  border-radius: 15px!important;
}

input,
select,
textarea {
  border-radius: 20px !important;
}

button,
.btn {
  border-radius: 20px !important;
}

.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #fff !important;
  border-radius: 12px;
  font-weight: 700;
  position: relative;
}

.navbar-nav .nav-link.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 6px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.2s;
}

.card{
  border-radius: 10px!important;
  background: #f8f9fa!important;
}